<style type="text/css">
	.leaflet-container {
		height:500px;
	}
</style>
<div style="width:100%; height:500px; position:relative">
	{{#leaflet-map lat=55.753445 lng=37.620418 zoom=10}}
	  {{google-mutant-layer type="TERRAIN" isTrafficOn=isTrafficOn continuousWorld=true noWrap=true}}
	{{/leaflet-map}}
</div>
<div>
	<button {{action "toggleTraffic"}}>Traffic</button>
</div>
